canvas {
    display: inline;
    width: 1024px;
    height: 640px;
    background-color: black;
    border-radius: 1%;
}

h3 {
    text-align: center;
}

h5 {
    color: red;
    text-align: center;
}

body {
    background-color: blueviolet;
}

#canvas-container {
    width: 100%;
    text-align: center;
    position: relative;
}

#button {
    bottom: 48%;
    left: 46%;
    height: 50px;
    width: 100px;
    position: absolute;
    background-color:deepskyblue ;
    text-align: center;
    border: 3px solid red;
    border-radius: 3px;cursor: pointer; cursor: hand;
}