canvas {
    display: inline;
    width: 1024px;
    height: 640px;
    background-color: black;
    border-radius: 1%;
}

h3 {
    text-align: center;
}

h5 {
    color: red;
    text-align: center;
}

body {
    background-color: blueviolet;
}

#canvas-container {
    width: 100%;
    text-align: center;
}